In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split




df = pd.read_csv('datasets/turbines.csv') 
df.head()

,Time,Active_Power,Speed,Theoretical_Power_Curve,Wind_Direction
0,01 01 2018 00:00,380.047790,5.311336,416.328908,259.994904
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
3,01 01 2018 00:30,419.645904,5.659674,516.127569,271.258087
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286

In [2]:
X = df[['Time', 'Speed']]
y = df[['Time']]
X

                   Time      Speed
0      01 01 2018 00:00   5.311336
1      01 01 2018 00:10   5.672167
2      01 01 2018 00:20   5.216037
3      01 01 2018 00:30   5.659674
4      01 01 2018 00:40   5.577941
...                 ...        ...
50525  31 12 2018 23:10  11.404030
50526  31 12 2018 23:20   7.332648
50527  31 12 2018 23:30   8.435358
50528  31 12 2018 23:40   9.421366
50529  31 12 2018 23:50   9.979332

[50530 rows x 2 columns]

In [3]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=1, stratify=y)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [ ]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)